# =============================================================================
# Файлы сессии и истории RStudio
.Rproj.user
.Rhistory
.RData
.Renviron
.Ruserdata

# =============================================================================
# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# =============================================================================
# Папки с данными и результатами
# Игнорируем ВСЕ содержимое этих папок. В репозитории должен храниться
# только код, который эти данные генерирует.
data/processed/
data/raw/
results/

# =============================================================================
# Файлы менеджеров пакетов (если будете использовать в будущем)
renv/
.renv/
packrat/

# =============================================================================
# Игнорировать кэш `knitr` (если будете создавать отчеты)
*_cache/
/cache/

# =============================================================================
# Выходные файлы, например, скомпилированный README
README.html